# Django Environment Configuration
# Duplicate this file to .env on your VPS / local environment

DEBUG=False
SECRET_KEY=change-this-to-a-very-secure-random-string-in-production

# Hosts & CSRF for VPS
ALLOWED_HOSTS=fondation.sdbo.ma,www.fondation.sdbo.ma,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://fondation.sdbo.ma,http://fondation.sdbo.ma

# Database MySQL configuration
DB_ENGINE=django.db.backends.mysql
DB_NAME=django_fondation
DB_USER=django_user
DB_PASSWORD=your_strong_mysql_password_here
DB_HOST=127.0.0.1
DB_PORT=3306
